# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Git
.git/

# Logs
*.log

# Streamlit cache
.streamlit/

# Docker (optional)
*.tar